[Desktop Entry]
Comment=Slm Glow + Shadowed Dialog background + Oxygen Task Items & Translucent background + T-remix-N tooltip
Name=Slim Glow KF6
X-KDE-PluginInfo-Author=crocket
X-KDE-PluginInfo-Version=1.0
